@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {

    nav .brand-logo {
        line-height: 78px;
    }

    .logo_img{
        width: 120px;
    }

    table {
        margin-top: 1rem;
        border: 0;
        margin-left: 15px;
        width: 90%;
    }
    
    table caption {
        font-size: 1.3em;
    }
    
    table thead {
        border: none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 3.2em;
    }
    
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: left;
    }
    
    table td:first-child{
        position: absolute;
        left: 10px;
        border-bottom: none;
        font-size: 1.5em;
        margin-top: -2.2em;
        font-weight: bold;
    }
    
    table td:nth-child(2){
        margin-top: 2.2em;
    }
    
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    table td:last-child {
        border-bottom: 0;
    }
    
    button.linklist_details{
        display: block;
        margin: 0 auto;
    }

}

@media screen and (max-width: 460px) {
    
    .logo_img_big{
        width: 250px;
    }

    div.linkslist_oldlink_inner{
        max-width: 18rem !important;
    }

    .card-content{
        padding: 20px !important;
    }

    .input-field input{
        margin-left: 2rem !important;
        width: calc(100% - 2rem) !important;
    }
    
    .input-field .prefix{
        font-size: 1.5rem;
        width: 1.5rem;
        line-height: 2rem;
    }

    .input-field label {
        font-size: 0.7rem;
        line-height: 0.7;
        margin-left: 2rem !important;
        width: calc(100% - 2rem) !important;
        transform: translateY(20px);
    }
    
    .input-field label.active {
        transform: translateY(-10px) !important;
    }
    
}